@{
    ViewData["Title"] = "Mini Aplicación Web";
}

<h1>Sistema de Gestión de Tareas</h1>

<form>
    <label>Nueva tarea:</label>
    <input type="text" class="form-control" placeholder="Ingrese una tarea" />
    <br />
    <button class="btn btn-primary">Agregar</button>
</form>

<hr />

<h3>Tareas Registradas</h3>

<ul>
    <li>Analizar requerimientos</li>
    <li>Desarrollar aplicación</li>
    <li>Realizar pruebas</li>
</ul>
